

.carousel-inner{
  margin-top: 50px;
  src: url(images/slide.png);
}

.carousel-inner img{
width: 950px;
}
.row{
  background: #fff;
  margin-top: 30px;
}
.row .img{
  margin-left:15%;
  margin-right: 10%;
  margin-bottom: 5%;
  float: left;
}
.left h5{
  font-size:12px;
}
.diva{
    /* margin-left:55%; */
    margin-bottom: 5%;
}
.imga{
  margin-right:35%;
}
.imgb{
    margin-left:55%;
    margin-bottom: 5%;
}
.bghui{
  background:#E8E8E8;

}
.bg{
  background:#505050;
}
.bg ul{
  padding:10px 0;
  margin: 0;
}
.bg ul li a{
  color: #ffffff;
}
.bg h6{
    color: #ffffff;
}
